{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @ingroup themeable
 */
#}
{% if back_link %}
    <nav class="tabbable">
        {{ back_link }}
    </nav>
{% endif %}
<main {{ attributes.addClass('no-gutters') }}>
<section class="publication col-sm-8">


    {{ title_prefix }}
    {% if not page %}
        <h2{{ title_attributes }}>
            <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
    {% endif %}
    {{ title_suffix }}

    {% if content.field_subtitle|field_value %}
        <blockquote>{{ content.field_subtitle|field_value }}</blockquote>
    {% endif %}

    {% if content.field_place_of_publication|field_value %}
    <dl>
        <dt>{{ content.field_place_of_publication|field_label }}:</dt>
        <dd>{{ content.field_place_of_publication|field_value }}</dd>
    </dl>
    {% endif %}

    {% if content.field_geographic_coverage|field_value %}
    <dl>
        <dt>{{ content.field_geographic_coverage|field_label }}:</dt>
        <dd>
            <ul>
                {% for key, item in content.field_geographic_coverage if key|first != '#' %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        </dd>
    </dl>
    {% endif %}

    {% if content.field_publisher|field_value %}
    <dl>
        <dt>{{ content.field_publisher|field_label }}:</dt>
        <dd>{{ content.field_publisher|field_value}}</dd>
    </dl>
    {% endif %}


    <dl>
        <dt>{{ publication_date_label }}:</dt>
        <dd>{{ publication_date_value }}</dd>
    </dl>


    {% if content.field_frequency|field_value %}
        <dl>
            <dt>{{ content.field_frequency|field_label }}:</dt>
            <dd>{{ content.field_frequency|field_value }}</dd>
            {% if content.field_frequency_notes|field_value %}
                <dt>{{ content.field_frequency_notes|field_label }}:</dt>
                <dd>{{ content.field_frequency_notes|field_value }}</dd>
            {% endif %}
        </dl>
    {% endif %}

    {% if earlier_titles_up %}
        {% set count = content.field_serial_relation_pre_ref_up|field_value|length %}
        <dl>
            {% if count > 1 %}<dt>{% trans %}Earlier titles{% endtrans %}:</dt>
            {% else %}<dt>{% trans %}Earlier title{% endtrans %}:</dt>
            {% endif %}
            <dd>{{ content.field_serial_relationship_op_pre|field_value }} {{ earlier_titles_up }}</dd>
        </dl>
    {% endif %}

    {% if later_titles_up and later_titles_down %}
        <dl>
            <dt>{% trans %}Later title{% endtrans %}:</dt>
            <dd>{% trans %}Merged with{% endtrans %} {{ later_titles_up }}
                {% trans %}to form{% endtrans %} {{ later_titles_down }}</dd>
        </dl>
    {% elseif later_titles_down %}
        {% set count = content.field_serial_relation_suc_ref_dn|field_value|length %}
        <dl>
            {% if count > 1 %}<dt>{% trans %}Later titles{% endtrans %}:</dt>
            {% else %}<dt>{% trans %}Later title{% endtrans %}:</dt>
            {% endif %}
            <dd>{{ content.field_serial_relationship_op_suc|field_value }} {{ later_titles_down }}</dd>
        </dl>
    {% endif %}

    {% if content.field_title_notes|field_value %}
        <dl>
            <dt>{{ content.field_title_notes|field_label }}:</dt>
            <dd>{{ content.field_title_notes|field_value }}</dd>
        </dl>
    {% endif %}

    {% if content.field_supplemental_information|field_value %}
        <dl>
            <dt>{{ content.field_supplemental_information|field_label }}:</dt>
            <dd>{{ content.field_supplemental_information|field_value }}</dd>
        </dl>
    {% endif %}

    {% if family %}
    <hr />
    <dl class="title-history">
        <dt>{% trans %}Broad Title History{% endtrans %}:</dt>
        <dd class="no-borders">({% trans %}This field includes titles and publication dates of UNB Holdings only{%  endtrans %})<br >
            {% set supplemental_tid = node.field_family.target_id %}
            {% if supplemental_tid %}
                {{ drupal_field('field_supplemental_information', 'taxonomy_term', supplemental_tid) }}
            {% endif %}
            {{ family }}
        </dd>
        {% if supplemental_title %}
            <dt>{{ supplemental_title_label }}:</dt>
            <dd>
                {{ supplemental_title }}
            </dd>
        {% endif %}
    </dl>
    {% endif %}

    {% if content.field_subjects|field_value %}
    <dl>
        <dt>{{ content.field_subjects|field_label }}:</dt>
        <dd>
            <ul>
                {% for key, item in content.field_subjects if key|first != '#' %}
                <li>{{ item }}</li>
                {% endfor %}
            </ul>
        </dd>
    </dl>
    {% endif %}

    {% if content.field_subject_notes|field_value %}
        <dl>
            <dt>{{ content.field_subject_notes|field_label }}:</dt>
            <dd>{{ content.field_subject_notes|field_value }}</dd>
        </dl>
    {% endif %}

    {% if content.field_oclc|field_value %}
    <dl>
        <dt>{{ content.field_oclc|field_label }}:</dt>
        <dd>{{ content.field_oclc|field_value }}</dd>
    </dl>
    {% endif %}

    {% if content.field_issn|field_value %}
    <dl>
        <dt>{{ content.field_issn|field_label }}:</dt>
        <dd>{{ content.field_issn|field_value }}</dd>
    </dl>
    {% endif %}

    {% if language_value %}
        <dl>
            <dt>{{ language_label }}:</dt>
            <dd>{{ language_value }}</dd>
        </dl>
    {% endif %}

    {% if holding.microfilm|length > 0 %}
    <fieldset>
       <legend>{% trans %}UNB Libraries' Holdings{% endtrans %}:</legend>
        {% if holding.microfilm|length > 0 %}
            <div role="tablist" aria-multiselectable="true">
                <div class="panel-title" role="tab" id="headingMicrofilm">
                    <a role="button" data-toggle="collapse" href="#collapseMicrofilm" aria-expanded="false" aria-controls="collapseMicrofilm" class="collapsed">
                        {% trans %}Microforms{% endtrans %}
                    </a>
                </div>
                <div id="collapseMicrofilm" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingMicrofilm">
                    <div class="panel-body">
                        {% for item in holding.microfilm %}
                            {% if item.value %}
                            <dl>
                                <dt>{{ item.label }}:</dt>
                                <dd>{{ item.value }}</dd>
                            </dl>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </fieldset>
    {% endif %}

</section>

<aside class="col-sm-4">
{% if content.field_sample_image|field_value %}
    {% if content.field_sample_image|field_value %}
        <figure>
            {{ content.field_sample_image }}
            <figcaption>
                Sample image of <i>{{ label }}</i>
            </figcaption>
        </figure>

    {% endif %}

    {% if content.field_description|field_value %}
        {{ content.field_description|field_value }}
    {% endif %}
{% else %}
    <figure>
        <img class="no-borders" src="/{{ active_theme_path() }}/src/img/sample-publication.jpg" alt="" />
    </figure>
{% endif %}
</aside>
</main>
